<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>My Desktop</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/secure.css'}" />
        #{get 'moreStyles' /}
        #{get 'moreScripts' /}
    </head>
    <body>
   		<div id="divTitle">
    		<h1>Welcome in <img src=@{'/public/images/Logo_image.png'} title='Logo' id='logoLogin'/> application !</h1>
    	</div>
        #{doLayout /}
      
    </body>
</html>
