html, body {
    background: #F0F0F0;
    font-family: 'Lucida grande', verdana, sans-serif;
}

#login { 
    margin: 50px auto;
    text-align: center;
}

#divTitle{
	margin: 50px auto;
    text-align: center;
}

#divTitle #appliTitle {
	font-family: "Cooper Black";
}

#login h1 {
    font-weight: bold;
    color: #111;
}

#login form {
	margin-top: 5%;
	width: 500px;
    border: 5px solid #ccc;
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    text-align: left;
    display: inline-table;
    vertical-align: middle;
}

#login form p {
    margin: 3px;
}

#login form h3 {
    text-align: center;
}

#creation{
	margin-left: 55px;
}

#username-field {
    margin-top: 10px !important;
}

#username-field label, #password-field label {
    display: block;
    width: 150px;
    float: left;
    text-align: right;
    margin-right: 5px;
    color: #333;
    font-size: 15px;
}

#username-field input {
    width: 150px;
    font-size: 13px;
}

#password-field input {
    width: 150px;
    font-size: 13px;
}

#remember-field input {
    margin-left: 155px;
}

#remember-field {
    font-size: 12px;
    color: #666;
}

#signin-field input {
    margin-top: 10px;
}

#signin-field {
	text-align: center;
}

#signin{
	font-weight: bold;
	width: 100px;
}

#login #createAccount-field{
	text-align: center;
	margin-left: 70px;
}

#createAccount{
	font-weight: bold;
}

#login .error, #login .success  {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

#login .error {
    background: #c00 !important;
}

#login .success {
    background: #008800 !important;
}

#contact{
	text-align: center;
	font-size: small;
	margin-top: 12%;
	font-style: italic;
}

#logoExisting{
	width:70px;
	height: 70px;
	float: right;
	margin-top: -15px;
	margin-right: 20px;
}

#logoCreate{
	width:70px;
	height: 70px;
	float: right;
	margin-top: -52px;
}

#logoLogin{
	width: 30%;
	height: 30%;
}

#noscript{
	color: #fff;
    font-size: 30px;
    text-align: center;
    background: #c00 !important;
}
